<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
    <SenparcConfig>
        <Id>1</Id>
        <Name>Client</Name>
        <Host><![CDATA[127.0.0.1]]></Host>
        <DataBase><![CDATA[SCF]]></DataBase>
        <UserName><![CDATA[sa]]></UserName>
        <Password><![CDATA[qskj@123456]]></Password>
        <Provider><![CDATA[System.Data.SqlClient]]></Provider>
        <ConnectionString><![CDATA[Data Source=127.0.0.1;Initial Catalog=SCF;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=qskj@123456]]></ConnectionString>

        <!--远程同步下来的数据库-->
            <ConnectionStringFull>
                <![CDATA[Data Source=127.0.0.1;Initial Catalog=SCF;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=qskj@123456]]>
            </ConnectionStringFull>

        <!--本地数据库-->
        <!-- <connectionstringfull><![cdata[server=.\;database=scf;trusted_connection=true;integrated security=true;]]></connectionstringfull> -->
        <ApplicationPath><![CDATA[/]]></ApplicationPath>
    </SenparcConfig>
</SenparcConfigs>